@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="centr">
    <div class="photoHotel">
        <img src="~/css/image/hotel.jpg" alt="HOTEL" width="700" height="400" align="left">
    </div>
    <div class="motivation" position="absolute">
        <h2 class="motivationH2">Мы работаем для вас</h2>
        <h4 class="motivationH4">Идеальный номер для каждого клиента</h4>
        <h4 class="motivationH4">Квалифицированный персонал</h4>
        <h4 class="motivationH4">Удобный способ бронирования</h4>
    </div>
    <div class="information">
        <div class="inf1">
            <a href="" class="urlUp">Наши номера</a>
            <p>Отель предоставляет гостям номера различного уровня комфорта</p>
        </div>
        <div class="inf2">
            <a href="" class="urlUp">Удобные даты</a>
            <p>Выбирайте удобные даты для бронирования</p>
        </div>
        <div class="inf3">
            <a href="" class="urlUp">Дополнительные услуги</a>
            <p>Мы встретим вас в аэропорту или позаботимся о ваших питомцах</p>
        </div>
    </div>
</div>